body {
	padding: 0;
	margin: 0;
	min-height: 100%;
	position: relative;
	padding-bottom: 40px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #e1e1e1;
	text-decoration: none;
}

header {
    width: 1000px;	
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
	width: 1000px;
}

.products {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.products div {
    width: 420px;
	border: 1px solid #ebe7df;
	border-radius: 10px;
	background-color: #f0eee7;
	padding: 20px;
	margin: 10px;
	display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: space-around;
}

.cart-container {
	display: none;
	width: 100%;
	height: 100vh;
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: flex-start;
	backdrop-filter: blur(10px);
	background-color: rgba(141, 129, 134, 0.3);
}

.cart {
	min-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.cart div {
	width: 80%;
	border: 1px solid #ebe7df;
	border-radius: 10px;
	background-color: #f0eee7;
	padding: 20px;
	margin: 10px;
	display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: space-around;
}